{% extends 'main_pages/base.html' %}
{% load static %}
{% block title %}
        <title>Blog</title>
{% endblock %}
{% block main_area %}
<br>
 <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>담기 목록</h2>
        </div>
        <div style="">
        <div class="row" style="margin-left: 20%;">
          <div class="col-lg-3">
            <h3 class="resume-title">주문 매장</h3>
            <div class="resume-item pb-0">
                <h4><strong>스타벅스 가양점</strong></h4>
              <ul>
                <li>가양역 10번 출구</li>
                <li>(123) 456-7891</li>
              </ul>
            </div>
          </div>
        <div class="col-lg-3">
            <h3 class="resume-title">주문 목록</h3>
            <div class="resume-item">
                {% for menu in menu_list %}

                    <h4>{{ menu.name }} X {{ menu.count }}</h4>
                    <h5>{{ menu.price }} X {{ menu.count }} = {{ menu.get_total_price }}</h5>

                {% endfor %}
          </div>
        </div>
          <div class="col-lg-3">
            <div class="resume-item">
              <h3 class="resume-title">합계</h3>
              <h5>{{ total_price }}</h5>
            </div>


          </div>

            </div>
        </div>
        <div style="margin-top: 10%;text-align: center;">
        <div style="height:50px; text-align: center;">
            <a href= "/order" style="display: inline-block;color: whitesmoke;background-color: #ffc041; width: 40%; height:100%;text-align: center;">
                <div style="margin-top: 8px;"><h4>주문하기</h4></div>
            </a>
            </div>
        </div>



      </div>
    </section><!-- End My Resume Section -->
{% endblock %}