{% extends 'main_pages/base.html' %}
{% load static %}
{% block title %}
        <title>Blog</title>
{% endblock %}
{% block main_area %}
<br>
 <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>담기 목록</h2>
        </div>
        <div style="">
        <div class="row" style="margin-left: 20%;">
          <div class="col-lg-3">
            <h3 class="resume-title">선택된 매장</h3>
            <div class="resume-item pb-0">
                <h4><strong>스타벅스 가양점</strong></h4>
                <button class="btn btn-warning" type="submit" value="togo" onclick="location.href='/map'" ><strong>매장찾기</strong></button>
              <ul>
                <li>가양역 10번 출구</li>
                <li>(123) 456-7891</li>
              </ul>
            </div>
          </div>
        <div class="col-lg-4">
            <h3 class="resume-title">담은 목록</h3>
            <div class="resume-item">
                {% for menu in menu_list %}

                    <h4>{{ menu.name }} X {{ menu.count }}</h4>
                    <h5>{{ menu.price }}원 X {{ menu.count }}개 = {{ menu.get_total_price }}원</h5>
                    &nbsp
                    <a href="/main/del/{{ menu.slug }}"><img src="{% static 'assets/img/42465_x_icon.png' %}" width="20px" height="30%"></a>

                {% endfor %}
          </div>
        </div>
          <div class="col-lg-3">
              <div class="resume-title">합계</div>
              <h5>{{ total_price }}원</h5>
            </div>


          </div>

            </div>
        </div>
      <div class="col-lg-4" style="margin-top: 10%;text-align: center;">
            <div style="margin-top: 10%;text-align: center;">
            <div style="display:inline-block;text-align: center;">

                  <button class="btn btn-warning" type="submit" value="togo" onclick="location.href='/main/type/togo'" ><strong>Take-out 주문</strong></button>
                <button class="btn btn-warning" type="submit" value="forhere" onclick="location.href='/main/type/forhere'"><strong>For here 주문</strong></button>
          </div>
          </div></div>
        <div style="margin-top: 10%;text-align: center;">
        <div style="height:50px; text-align: center;">
            <a href= "/main/order/스타벅스 가양점/{{ total_price }}" style="display: inline-block;color: whitesmoke;background-color: #ffc041; width: 40%; height:100%;text-align: center;">
                <div style="margin-top: 8px;"><h4>주문하기</h4></div>
            </a>
            </div>
        </div>



      </div>
    </section><!-- End My Resume Section -->
{% endblock %}