{% extends 'main_pages/base.html' %}
{% load static %}
{% block title %}
        <title>Blog</title>
{% endblock %}
{% block main_area %}
<script>
function count(type)  {
  // 결과를 표시할 element
  const resultElement = document.getElementById('result');

  // 현재 화면에 표시된 값
  let number = resultElement.innerText;

  // 더하기/빼기
  if(type === 'plus') {
    number = parseInt(number) + 1;
  }else if(type === 'minus' && parseInt(number)>1)  {
    number = parseInt(number) - 1;
  }

  // 결과 출력
  resultElement.innerText = number;

}

function setHref() {
    document.getElementById('add-btn').href = document.getElementById('add-btn').href+document.getElementById('result').textContent;
}

</script>
     <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>{{ menu.category }} > {{ menu.name }}</h2>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" >

        <div class="row gy-3">

          <div class="col-lg-6" style="text-align: center">
                <div class="swiper-slide" style="text-align: center">
                  <img src="{{ menu.image.url }}" alt="">
                </div>
          </div>

            <div class="col-lg-4" style="text-align: center;">
            <div class="portfolio-info">
              <h3>{{ menu.name }}</h3>
              <ul>
                  <li><strong>{{ menu.price }}원</strong></li>
                <li>{{ menu.content }}</li>
              </ul>
            </div>
                <br><br><br>
                <div style="display: inline-block;margin-top: 8%;">
                <div class="row gy-3">

                    <div class="col-lg-4"><input type='button' onclick='count("minus")' value='-'/></div>
                    <div class="col-lg-4" id='result'>1</div>
                    <div class="col-lg-4"><input type='button' onclick='count("plus")' value='+'/></div>
                </div>
                </div>
                <br><br><br>
                <div style="height:40px; margin-top: 20%;">
            <a id="add-btn" onclick="setHref()" href= "/main/cart/{{ menu.slug }}/" style="display: inline-block;color: whitesmoke;background-color: #ffc041; width: 50%; height:100%;">
                <div style="margin-top: 8px;"><h4>담기</h4></div>
            </a>
            </div>
          </div>

            </div>
          </div>

    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}