{% extends 'main_pages/base.html' %}
{% load static %}
{% block title %}
        <title>Blog</title>
{% endblock %}
{% block main_area %}
    <script type="text/javascript">

	function load()
	{
        var confirm = window.confirm("진행 중인 주문을 취소 하고, 초기 화면으로 이동하시겠습니까?");
        if(confirm){
            	    window.location.href = "/";
        }
    }
</script>
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        {% if category %}
          <h2><a href='/' onclick="load();">HOME</a>&nbsp;&gt;&nbsp;{{category}}</h2>
        {% else %}
          <h2><a href='/' onclick="load();">HOME</a>&nbsp;&gt;&nbsp;ALL</h2>
        {% endif %}
        <a href="/main/cart"><img src="{% static 'assets/img/8666616_shopping_cart_icon.png' %}" width="40px" height="80%"></a>

      </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <section>
      <div class="container">
      <div class="row">
          {% for menu in menu_list %}
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <a  href="{{ menu.get_absolute_url }}"><img src="{{ menu.image.url}}" alt="Card image cap" width="260px" height="250px"><br><br>
                  <div>
                      <h5 class="title"><a>{{ menu.name }}</a></h5>
                      <p class="description">{{ menu.price }}원</p>
                  </div>
                     </a>
              </div>
              </div>
              <br>
          {% endfor %}
          </div>
      </div>
    </section>
{% endblock %}