{% extends 'home_pages/base_home.html' %}
{% load static %}
{% block main_area %}
<div style="text-align: center;">
<div style="display: inline-block;">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" style="margin-bottom: 0; margin-top: 5%;">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% for menu in menu_list %}
                    <div class="swiper-slide" style="text-align: center;">
                        <img src="{{ menu.image.url}}" alt="" style="width: 450px; height: 450px;">
                    </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        <div class="col-lg-4">
            <div style="text-align: center;">
            <div style="display:inline-block;text-align: center;">

              <div class="d-grid gap-2 col-12 mx-auto" style="margin-top: 45%;">
                  <button class="btn btn-outline-warning btn-lg" type="submit" value="togo" onclick="location.href='/main'" style="font-size: 150%; width:400px; height:80px;"><strong>주문하기</strong></button>
              </div>
          </div>
          </div></div>
      </div>
      </div>
    </section><!-- End Portfolio Details Section -->
</div>
</div>
{% endblock %}