{% extends 'home_pages/base_home.html' %}
{% load static %}
{% block main_area %}
<!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact" style="margin-top: 5%;">
      <div class="container" style="text-align: center;">

        <div class="section-title">
          <h2>매장 찾기</h2>
          <p>주문할 매장의 주소를 검색하세요.</p>
        </div>
 <div class="col-lg-6" style="display: inline-block; text-align: center;">
              <div>
            <form action="/map/searching/" role="form" method="post" enctype ="multipart/form-data">{% csrf_token %}
              <div class="row-cols-auto" style="text-align: center;">
                  <div style="display: inline-block; width:100%; text-align: center;">
                <div class="col-md-6 form-group" style="display: inline-block;">
                    <input type="text" name="address1" class="form-control" placeholder="시" required>
                </div>
<br><br>
                  <div class="col-md-6 form-group" style="display: inline-block;">
                      <input type="text" name="address2" class="form-control" placeholder="구" required>
                </div>
<br><br>
                  <div class="col-md-6 form-group" style="display: inline-block;">
                      <input type="text" name="address3" class="form-control" placeholder="동 or 도로명">
                </div>
                  </div>
                  <br><br><br>
                <div class="text-center"><button class="btn btn-warning" type="submit" ><strong>매장 검색</strong></button></div>
              </div>
            </form>
          </div>
          </div>

      </div>
    </section><!-- End Contact Me Section -->

{% endblock %}