{% extends 'home_pages/base_home.html' %}
{% load static %}
{% block main_area %}
<!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
      <div class="container" style="text-align: center;">

        <div class="section-title">
          <h2>매장 검색 결과</h2>
          <p>"{{ searching }}" 검색 결과</p>
        </div>
 <div class="col-lg-6" style="display: inline-block; text-align: center;">
              <div>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">매장명</th>
      <th scope="col">주소</th>
      <th scope="col">위치</th>
      <th scope="col">선택</th>
    </tr>
  </thead>
  <tbody>
  {% for store in store_list %}
    <tr>
        <th scope="row"><a href="{{ store.place_url }}">{{ store.place_name}}</a></th>
      <td>{{ store.address_name }}</td>
      <td><button class="btn btn-outline-warning" onclick="location.href='{{ store.place_url }}'">위치</button></td>
        <td>
        <form action="/map/choice/" role="form" method="post" enctype ="multipart/form-data">{% csrf_token %}
            <input type="hidden"  name="store_name" value="{{ store.place_name }}">
            <input type="hidden"  name="store_address" value="{{ store.address_name }}">
            <input type="hidden"  name="store_number" value="{{ store.phone }}">
            <button class="btn btn-warning" type="submit" onclick="location.href='{{ store.place_url }}'">선택</button>
        </form>
    </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
          </div>
          </div>

      </div>
    </section><!-- End Contact Me Section -->

{% endblock %}